body{
    background-color: #CDC8B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 90vh;
    padding-left: 0.5rem;
    /* width: 0vw; */
}

.container{

}

canvas{
    box-shadow: #303030 1px 1px 10px 2px ;
}
.Header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 2rem;
    color:white;
    
}
button{
    padding: 8px;
    padding-left:16px;
    padding-right: 16px;
    border-radius: 8px;
    font-weight: 700;
    font-size: large;
}

.Rules { 
    color: black ;
    margin-bottom: 1.2rem;
}